<div class="ui inverted vertical footer segment" style="margin-top: 5vh;">
    <div class="ui center aligned container">
        <!-- <div class="ui stackable inverted divided grid">
             -->
        <div class="ui horizontal inverted small divided list">
            <div class="item"><i class="copyright outline icon"></i>Copyright - Mini Project Sem V</div>
        </div>
    </div>
</div>
